# Currency

TODO - Try to find a better API to use.

#### A very used expression in our life, in if utilized just right, also very useful. <br>
In this notebook, were are query a rest API in order to get the latest currency rates for all currencies out there.<br>
It will always be as updated to the time-of-running.

First of all, let's get our data.<br>
In order to do so, let's start with installing all the needed libraries and get the right imports.

In [37]:
import sys
import os
!{sys.executable} -m pip install forex-python
from forex_python.converter import CurrencyRates
import pandas as pd
import numpy as np
from datetime import datetime

Requirement already satisfied: forex-python in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.5)
Requirement already satisfied: simplejson in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from forex-python) (3.17.2)
Requirement already satisfied: requests in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from forex-python) (2.25.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->forex-python) (2020.11.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->forex-python) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->forex-python) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests->forex-python) (1.25.11)

#### Now let's get our data. <br> 

In that case, the function here is given by the provider of this API, and for more methods, you can go to the following URL -<br> https://forex-python.readthedocs.io/en/latest/usage.html

In [53]:
c = CurrencyRates()
usd_rates = c.get_rates('USD')

Let's turn it into something more readable, by converting its type from Dictionary to DataFrame, and give it columns the right names.

In [54]:
usd_rates = (pd.DataFrame.from_dict(usd_rates, orient='index')
             .reset_index()
             .rename(columns={0 : 'Rate', 'index' : 'Currency'}))
usd_rates

   Currency          Rate
0       GBP      0.731865
1       HKD      7.751756
2       IDR  14051.797372
3       ILS      3.253698
4       DKK      6.146765
5       INR     73.025370
6       CHF      0.890670
7       MXN     19.644575
8       CZK     21.589125
9       SGD      1.326667
10      THB     30.009917
11      HRK      6.250310
12      EUR      0.826378
13      MYR      4.045038
14      NOK      8.530700
15      CNY      6.469879
16      BGN      1.616230
17      PHP     48.030741
18      PLN      3.745310
19      ZAR     14.965788
20      CAD      1.270887
21      ISK    129.906619
22      BRL      5.321048
23      RON      4.027601
24      NZD      1.401950
25      TRY      7.446575
26      JPY    103.809603
27      RUB     73.617883
28      KRW   1102.074209
29      USD      1.000000
30      AUD      1.294604
31      HUF    295.330964
32      SEK      8.378068

Now, I'm guessing we could all agree that even as is, this could be one of the most useful datasets for any organization.

One more useful function, checking the rate on a specific day. <br>
And also on this case, the function itself will be based on a given method from the API provider.

In [60]:
date_time_obj = datetime(2014, 5, 23, 18, 36, 28, 151012)
usd_rate_on_date = c.get_rates('USD', date_time_obj)
usd_rate_on_date

{'GBP': 0.5938004402,
 'HKD': 7.7518708731,
 'IDR': 11612.4431401321,
 'ILS': 3.486133529,
 'DKK': 5.4762289068,
 'INR': 58.5085840059,
 'CHF': 0.8958180484,
 'MXN': 12.8934702861,
 'SGD': 1.2526779164,
 'CZK': 20.1305942773,
 'THB': 32.6001467351,
 'HRK': 5.5750550257,
 'EUR': 0.7336757153,
 'MYR': 3.2100513573,
 'NOK': 5.9651504035,
 'CNY': 6.2377109318,
 'BGN': 1.434922964,
 'PLN': 3.0543653705,
 'LTL': 2.5332355099,
 'ZAR': 10.3557593544,
 'CAD': 1.0900953778,
 'PHP': 43.7212032282,
 'BRL': 2.2178283199,
 'RON': 3.2358767425,
 'NZD': 1.170726339,
 'TRY': 2.0888481291,
 'JPY': 101.9222303742,
 'RUB': 34.1217168012,
 'KRW': 1024.8569332355,
 'USD': 1.0,
 'AUD': 1.0845194424,
 'HUF': 222.6632428467,
 'SEK': 6.6471019809}

Now, try to use the functions showed prior in order to convert it into a dataframe.

In [57]:
# Enter your code here

And in case you wondered how to do so.

In [61]:
usd_rate_on_date = (pd.DataFrame.from_dict(usd_rate_on_date, orient='index')
             .reset_index()
             .rename(columns={0 : 'Rate', 'index' : 'Currency'}))
usd_rate_on_date

   Currency          Rate
0       GBP      0.593800
1       HKD      7.751871
2       IDR  11612.443140
3       ILS      3.486134
4       DKK      5.476229
5       INR     58.508584
6       CHF      0.895818
7       MXN     12.893470
8       SGD      1.252678
9       CZK     20.130594
10      THB     32.600147
11      HRK      5.575055
12      EUR      0.733676
13      MYR      3.210051
14      NOK      5.965150
15      CNY      6.237711
16      BGN      1.434923
17      PLN      3.054365
18      LTL      2.533236
19      ZAR     10.355759
20      CAD      1.090095
21      PHP     43.721203
22      BRL      2.217828
23      RON      3.235877
24      NZD      1.170726
25      TRY      2.088848
26      JPY    101.922230
27      RUB     34.121717
28      KRW   1024.856933
29      USD      1.000000
30      AUD      1.084519
31      HUF    222.663243
32      SEK      6.647102

Now, we will use the same method, but with another parameter, in order to pull the conversion rate, on a specific date.

In [64]:
date_obj = datetime(2014, 5, 23, 18, 36, 28, 151012)
c.get_rates('USD', date_obj)

{'GBP': 0.5938004402,
 'HKD': 7.7518708731,
 'IDR': 11612.4431401321,
 'ILS': 3.486133529,
 'DKK': 5.4762289068,
 'INR': 58.5085840059,
 'CHF': 0.8958180484,
 'MXN': 12.8934702861,
 'SGD': 1.2526779164,
 'CZK': 20.1305942773,
 'THB': 32.6001467351,
 'HRK': 5.5750550257,
 'EUR': 0.7336757153,
 'MYR': 3.2100513573,
 'NOK': 5.9651504035,
 'CNY': 6.2377109318,
 'BGN': 1.434922964,
 'PLN': 3.0543653705,
 'LTL': 2.5332355099,
 'ZAR': 10.3557593544,
 'CAD': 1.0900953778,
 'PHP': 43.7212032282,
 'BRL': 2.2178283199,
 'RON': 3.2358767425,
 'NZD': 1.170726339,
 'TRY': 2.0888481291,
 'JPY': 101.9222303742,
 'RUB': 34.1217168012,
 'KRW': 1024.8569332355,
 'USD': 1.0,
 'AUD': 1.0845194424,
 'HUF': 222.6632428467,
 'SEK': 6.6471019809}

And since most of us don't remember or even have the actual time they bought the currency, let's try to simplify it.

The following conversion of data types will be used in order to convert a date to the full date and time format.<br>
The value that we will get in the end, will include the data and a default hour, in our case 00:00:00.

In [79]:
date_str = '01-01-2018'
date_object = pd.Timestamp(datetime.strptime(date_str, '%d-%m-%Y').date())
c.get_rates('USD', date_object)

{'GBP': 0.7397898774,
 'HKD': 7.8145584925,
 'IDR': 13540.4986241974,
 'ILS': 3.4716084383,
 'DKK': 6.2077044943,
 'INR': 63.8751771867,
 'CHF': 0.9757358459,
 'MXN': 19.7291753523,
 'CZK': 21.2915867589,
 'SGD': 1.3361127324,
 'THB': 32.6198615859,
 'HRK': 6.2036187776,
 'EUR': 0.8338197282,
 'MYR': 4.0470274327,
 'NOK': 8.2050362712,
 'CNY': 6.5074626866,
 'BGN': 1.6307846244,
 'PHP': 49.8582506462,
 'PLN': 3.4828650046,
 'ZAR': 12.3450346035,
 'CAD': 1.2539814892,
 'BRL': 3.3126823981,
 'RON': 3.8843492037,
 'NZD': 1.404986242,
 'TRY': 3.7908780122,
 'JPY': 112.5740015009,
 'RUB': 57.8604185775,
 'KRW': 1066.9640623697,
 'USD': 1.0,
 'AUD': 1.2795797549,
 'HUF': 258.7592762445,
 'SEK': 8.2079546402}

Or, we can conduct it as part of a function, in order to simplify it even more.

In [84]:
def date_convert(date_of_conversion):
    if (date_str[2] == '-') and (date_str[5] == '-'):
        date_object = pd.Timestamp(datetime.strptime(date_of_conversion, '%d-%m-%Y').date())
        return date_object
    else:
        message = 'Make sure you have entered the date in the right format (dd-mm-yyyy)'
        return message

date_object = date_convert('13-03-1996')
c.get_rates('USD', date_object)

{'GBP': 0.7397898774,
 'HKD': 7.8145584925,
 'IDR': 13540.4986241974,
 'ILS': 3.4716084383,
 'DKK': 6.2077044943,
 'INR': 63.8751771867,
 'CHF': 0.9757358459,
 'MXN': 19.7291753523,
 'CZK': 21.2915867589,
 'SGD': 1.3361127324,
 'THB': 32.6198615859,
 'HRK': 6.2036187776,
 'EUR': 0.8338197282,
 'MYR': 4.0470274327,
 'NOK': 8.2050362712,
 'CNY': 6.5074626866,
 'BGN': 1.6307846244,
 'PHP': 49.8582506462,
 'PLN': 3.4828650046,
 'ZAR': 12.3450346035,
 'CAD': 1.2539814892,
 'BRL': 3.3126823981,
 'RON': 3.8843492037,
 'NZD': 1.404986242,
 'TRY': 3.7908780122,
 'JPY': 112.5740015009,
 'RUB': 57.8604185775,
 'KRW': 1066.9640623697,
 'USD': 1.0,
 'AUD': 1.2795797549,
 'HUF': 258.7592762445,
 'SEK': 8.2079546402}

Now try it yourself

In [ ]:
date_object = date_convert('Enter your date here')
c.get_rates('USD', date_object)

Now, let's create a calculator that get's the amount of money we got/payed and in which currency, <br> and returns the values of the transaction, in the type of currency we have converted to.

In [96]:
def deal_convert(date, amount, from_currency, to_currency):
    date_object = date_convert(date)
    return (c.convert(from_currency, to_currency, amount))

deal_convert('01-01-2019', 100, 'USD', 'EUR')

82.63779853

Now this data is extremly useful while trying to calculate all sort of financial related data.

And for cases when the wanted currency is not available through the API, there is always the option of scrapping it.<br>
Here is example of scrapping NIS rate to Dollar from one of the popular financial websites in Israel.

In [125]:
df = pd.read_html('https://www.globes.co.il/portal/instrument.aspx?instrumentid=10463')[0]
df = df.drop(columns=[0])
USD_NIS = df[1][1]
USD_NIS

'3.28'

In this example we have scrapped the currency rate from a non-API based website for our use.<br>
As for this example, this technique is relevent for many optional analysis.

#### Now, use case to show how useful descion based data regarding currency could be

In order to show that, we will scrap a dataframe of the rates of the NIS-USD for the last almost year.

In [144]:
df = pd.read_html('https://www.exchange-rates.org/history/ILS/USD/T')[0]

Just renaming columns in order to ease the analysis

In [145]:
df = df.rename(columns = {0 : 'Date', 1: 'Day', 2 : 'Rate', 3 : 'Notes'})
df

          Date        Day         Rate                       Notes
0    1/29/2021     Friday  3.27730 ILS  USD ILS rate for 1/29/2021
1    1/28/2021   Thursday  3.28339 ILS  USD ILS rate for 1/28/2021
2    1/27/2021  Wednesday  3.26198 ILS  USD ILS rate for 1/27/2021
3    1/26/2021    Tuesday  3.26567 ILS  USD ILS rate for 1/26/2021
4    1/25/2021     Monday  3.27250 ILS  USD ILS rate for 1/25/2021
..         ...        ...          ...                         ...
134   8/6/2020   Thursday  3.39446 ILS   USD ILS rate for 8/6/2020
135   8/5/2020  Wednesday  3.40728 ILS   USD ILS rate for 8/5/2020
136   8/4/2020    Tuesday  3.40546 ILS   USD ILS rate for 8/4/2020
137   8/3/2020     Monday  3.40340 ILS   USD ILS rate for 8/3/2020
138   8/2/2020     Sunday  3.41623 ILS   USD ILS rate for 8/2/2020

[139 rows x 4 columns]

Now let's check in which day of the week, does the rate of the ILS is "stronger", in accordance to the USD.<br>
This data could be useful in order to maximize the rate when doing currency conversions.

But first, list "clean" the Rate column using regular expressions.

In [150]:
import re
df['Rate'] = [''.join(re.findall("\d+\.\d+", item)) for item in df['Rate']]
df

          Date        Day     Rate                       Notes
0    1/29/2021     Friday  3.27730  USD ILS rate for 1/29/2021
1    1/28/2021   Thursday  3.28339  USD ILS rate for 1/28/2021
2    1/27/2021  Wednesday  3.26198  USD ILS rate for 1/27/2021
3    1/26/2021    Tuesday  3.26567  USD ILS rate for 1/26/2021
4    1/25/2021     Monday  3.27250  USD ILS rate for 1/25/2021
..         ...        ...      ...                         ...
134   8/6/2020   Thursday  3.39446   USD ILS rate for 8/6/2020
135   8/5/2020  Wednesday  3.40728   USD ILS rate for 8/5/2020
136   8/4/2020    Tuesday  3.40546   USD ILS rate for 8/4/2020
137   8/3/2020     Monday  3.40340   USD ILS rate for 8/3/2020
138   8/2/2020     Sunday  3.41623   USD ILS rate for 8/2/2020

[139 rows x 4 columns]

And also, if you will check it, our Rate data is a string rather then float.<br>
So let's convert it.

In [156]:
df['Rate'] = df['Rate'].apply(lambda x : float(x))
df['Rate']

0      3.27730
1      3.28339
2      3.26198
3      3.26567
4      3.27250
        ...
134    3.39446
135    3.40728
136    3.40546
137    3.40340
138    3.41623
Name: Rate, Length: 139, dtype: float64

Now let's try to check for the days with the highest average rate of the NIS in comparing to the USD.

In [158]:
df.groupby(['Day'])['Rate'].mean().sort_values(ascending=False)

Day
Sunday       3.410971
Monday       3.345088
Friday       3.341304
Tuesday      3.340342
Thursday     3.336425
Wednesday    3.336420
Name: Rate, dtype: float64

And the result is? Well, Sunday.<br>

Our guess is that its related to the fact that Sunday is weekend in the US and therefore, trade volumes are lower.
This leads to minor affect on the Rates, in accordance to the general trend.

In [160]:
df.groupby(['Day'])['Rate'].median().sort_values(ascending=False)

Day
Sunday       3.411200
Tuesday      3.381480
Wednesday    3.374810
Monday       3.373745
Thursday     3.369285
Friday       3.362920
Name: Rate, dtype: float64

Also, as seen above, this metric is true also when checking for the median.

#### Bottom line, if you are converting NIS to USD, try doing it on Sunday. You will probably get the better rate.

Beside that, note how we have used and scrapped many types of websites, side by our API.<br>
The reason? None of them was sufficient so we had to dig deeper. and thats OK.<br>
So, one last tip from me to you, don't be afraid of looking for your data source.